.example-card {
  max-width: 268px;
  margin: 0 20px 20px 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
